* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 62.5%; }

body {
  line-height: 1.4;
  font-family: 'Barlow', sans-serif;
  font-size: 1.8rem; }

.container {
  padding: 5vh 0; }
  @media only screen and (max-width: 90em) {
    .container {
      padding: 0; } }
